@model BuyAndSell.VModels.ListModel

@{
    /**/

    ViewBag.Title = "SelectSubCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/style.css" />

<h2>SelectSubCategory</h2>
@using (Html.BeginForm("Create", "Products", FormMethod.Post))
{
    @Html.ListBoxFor(c => c.SelectedID, Model.Items, new { @class = "listbox" })
    <br />
    <input type="submit" value="Next" class="button" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
